.b-ImportGroup {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 8px;

    &__import {
        margin-bottom: 12px;
    }

    &&__no-new {
        font-weight: 200;
    }

    &__header {
        margin-top: 0;
        text-transform: uppercase;
        font-weight: 200;
        text-align: left;
    }

    &__devices {
        &--hidden {
            display: none;
        }
    }

    &__features {
        &--hidden {
            display: none;
        }
    }
}