.b-System {
    position: relative;
    padding-bottom: 30px;

    &__header {
        position: absolute;
        left: 0;
        right: 0;
        padding: 0px 12px 0px 12px;
    }

    &__exit {
        margin: 12px;
    }

    &__empty-msg {
        margin: 12px;
    }
}