body {
}

.controlPageWrapper {
    margin-top: 55px;
}

.tab-content {
    padding: 12px;
}

.fa.fa-spinner {
    font-size: 35px;
}

.cmp-Scene .btn.scene,
.cmp-Zone .btn.zone {
    text-align: center;
    padding: 8px;
    display: block;
    margin-bottom: 12px;
}
.cmp-Scene .btn.scene .fa,
.cmp-Zone .btn.zone .fa {
    font-size: 30px;
}

.cmp-Scene .btn.scene .name,
.cmp-Zone .btn.zone .name{
    display:block;
    font-size: 18px;
    padding: 8px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Component Styling */
.cmp-ControlApp .nav-tabs a {
    font-size: 18px;
    color: #000;
}

.cmp-ZoneControl .content{
    text-align: center;
    padding: 16px;
    padding-bottom: 40px;
    padding-top: 0;
    padding-right: 0;
}
.cmp-ZoneControl .well {
    padding: 0px;
}
.cmp-ZoneControl .content h4 {
    margin-bottom: 20px;
    width: 50px;
}
.cmp-ZoneControl .content .btn.on,
.cmp-ZoneControl .content .btn.off {
    display: inline-block;
    margin: 10px;
}
.cmp-ZoneControl .valueSlider {
    height: 200px;
}
.cmp-ZoneControl .slider.slider-vertical .slider-handle {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -15px;
}
.cmp-ZoneControl .slider.slider-vertical .slider-track-high {
    background: #ffff7f;
}
.cmp-ZoneControl .slider.slider-vertical .slider-selection {
    background: #fff;
}

.cmp-RecipeApp h2 {
    margin-top: 0;
}
.cmp-RecipeApp .header {
    margin-bottom: 8px;
}

.cmp-CookBook {
    float: left;
    text-align: center;
}
.cmp-CookBook img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
}
.cmp-CookBook button {
    padding: 12px;
}

.cmp-Trigger button,
.cmp-Action button {
    text-align: left;
    white-space: normal;
    width: 250px;
    min-height: 105px;
    margin-bottom: 8px;
}

.cmp-NewRecipe .btn-primary {
    margin-right: 8px;
}
.cmp-NewRecipe .footer {
    margin-top: 8px;
}

.cmp-RecipeInfo h4 {
    margin-top: 0;
}
.cmp-RecipeInfo input {
    float: left;
    height: 34px;
}

.cmp-Logging li.cmp-LogLine {
    background: #fff;
    padding: 5px;
}
.cmp-Logging li.cmp-LogLine:nth-child(odd) {
    background: #eee;
}
.cmp-Logging li.spinner {
    text-align: center;
    margin-top: 20px;
}
.cmp-Logging li.reconnect {
    text-align: center;
    margin-top: 20px;
}
.cmp-Logging h3 {
    text-align: center;
}
.cmp-Logging .footer {
    padding-top: 25px;
}

.cmp-LogLine span.datetime {
    font-weight: bold;
}
.cmp-LogLine span.rawMessage {
    font-style: italic;
}