/*TODO: Split into separate files*/

body, html {
    overflow-x: hidden;
    width: 100%;
    background-color: #fff;
}

.spinnerWrapper {
    margin-top: 24px;
    text-align: center;
}

button.disabled {
    pointer-events: none;
}

.controlPageWrapper {
    margin-top: 0px;
}

.tab-content {
/*    padding: 12px;*/
}

.fa.fa-spinner {
    font-size: 35px;
}

.cmp-CommandInfo {
    background-color: #fff;
}
.cmp-CommandInfo .btnDelete {
    padding: 0;
}

.cmp-ZoneSetLevelCommand p {
    font-size: 12px;
    font-weight: normal;
}
.cmp-ZoneSetLevelCommand .rgbExpander {
    margin-bottom: 8px;
}

.cmp-System {
    position: relative;
    padding-bottom: 30px;
}
.cmp-System .header {
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 0;
    padding-left: 12px;
    padding-right: 12px;
}
.cmp-System .btnExitImport {
    margin-bottom: 12px;
}
.cmp-System h5.emptyMessage {
    margin: 12px;
}

.cmp-Import .content {
    margin-top: 12px;
}
.cmp-Import .fa.fa-spinner {
    font-size: 22px;
}

.cmp-DiscoverDevices .spinnerWrapper .fa.fa-spinner {
    font-size: 35px;
}
.cmp-DiscoverDevices .discover.fa-spinner {
    margin-left: 12px;
}

.cmp-SensorInfo label {
    font-size: 12px;
    font-weight: normal;
}

.cmp-ZoneInfo label {
    font-size: 12px;
    font-weight: normal;
}
.cmp-ZoneInfo .btnOff {
    margin-left: 12px;
}
.cmp-ZoneInfo .btnSave span {
    padding-left: 12px;
}

.cmp-SaveBtn {
    width: 100px;
}
.cmp-SaveBtn .fa.fa-spinner {
    font-size: 16px;
}

.cmp-SystemDeviceList h2 {
    margin-top: 12px;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
}
.cmp-SystemDeviceListGridCell {
    pointer-events: none;
    position: relative;
    height: 100%;
    font-size: 0px;
}
.cmp-SystemDeviceListGridCell .name{
    display: block;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    pointer-events: none;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto 8px auto;
}
.cmp-SystemDeviceListGridCell .icon {
    pointer-events: none;
    font-size: 50px;
    text-align: center;
    color: #555;
    padding-top: 12px;
}


.cmp-DeviceInfo label {
    font-size: 12px;
    font-weight: normal;
}
.cmp-DeviceInfo .btnDelete {
    padding: 0;
}
.cmp-DeviceInfo .glyphicon-menu-down {
    font-size: 11px;
    margin-left: 2px;
    margin-bottom: 20px;
}

.cmp-ControlApp .nav-tabs {
    border-bottom: 2px solid #337ab7;
    background-color: #337ab7;
    box-shadow: 0px 2px 4px #bbb;
}
.cmp-ControlApp .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-width: 0;
    background-color: #337ab7;                                                                
}
.cmp-ControlApp .nav-tabs > li > a {
    border: none;
    color: #fff;
    opacity: 0.6;
    text-align: center;
    min-width: 70px;
    font-size: 25px;
}
.cmp-ControlApp .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: #fff !important;
    background: transparent;
    opacity: 1.0;
}
.cmp-ControlApp .nav-tabs > li > a::after {
    content: "";
    background: #fff;
    height: 4px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}
.cmp-ControlApp .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
}
.cmp-ControlApp .tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}
.cmp-ControlApp h5.emptyMessage {
    margin: 12px;
}
.cmp-ControlApp .fa-spinner {
    width: 100%;
    text-align: center;
    top: 120px;
    position: absolute;
}
.cmp-ControlApp .hideTabContent {
    /* Have to hide visibility not display because otherwise the with of the content
       isn't set and then the grid computes the wrong width */
    visibility: hidden;
}

.cmp-RecipeApp h2 {
    margin-top: 0;
}
.cmp-RecipeApp .header {
    margin-bottom: 8px;
}

.cmp-CookBook {
    float: left;
    text-align: center;
    margin-right: 16px;
    width: 180px;
}
.cmp-CookBook img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
}
.cmp-CookBook button {
    padding: 12px;
    width: 100%;
}

.cmp-Trigger button,
.cmp-Action button {
    text-align: left;
    white-space: normal;
    width: 250px;
    min-height: 105px;
    margin-bottom: 8px;
}

.cmp-NewRecipe .btn-primary {
    margin-right: 8px;
}
.cmp-NewRecipe .footer {
    margin-top: 8px;
}
.cmp-NewRecipe .has-error span {
    font-size: 14px;
    margin-bottom: 0px;
}

.cmp-RecipeInfo h4 {
    margin-top: 0;
}
.cmp-RecipeInfo input {
    float: left;
    height: 34px;
}

.cmp-Logging li.cmp-LogLine {
    background: #fff;
    padding: 5px;
}
.cmp-Logging li.cmp-LogLine:nth-child(odd) {
    background: #eee;
}
.cmp-Logging li.spinner {
    text-align: center;
    margin-top: 20px;
}
.cmp-Logging li.reconnect {
    text-align: center;
    margin-top: 20px;
}
.cmp-Logging h3 {
    text-align: center;
}
.cmp-Logging .footer {
    padding-top: 25px;
}

.cmp-LogLine span.datetime {
    font-weight: bold;
}
.cmp-LogLine span.deviceName {
    font-weight: bold;
}
.cmp-LogLine span.rawMessage {
    font-style: italic;
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}
/* bootstrap hack end */