<!DOCTYPE html>
<html>
  <head>
    <title>goHome - Home of Things</title>

    <link rel="stylesheet" type="text/css" href="css/<%= htmlWebpackPlugin.options.timestamp %>/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/<%= htmlWebpackPlugin.options.timestamp %>/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/<%= htmlWebpackPlugin.options.timestamp %>/ionicons.css">
    <link rel="stylesheet" type="text/css" href="css/<%= htmlWebpackPlugin.options.timestamp %>/bootstrap-switch.css">
    <link rel="stylesheet" type="text/css" href="css/<%= htmlWebpackPlugin.options.timestamp %>/nouislider.css">
    <link rel="stylesheet" type="text/css" href="css/<%= htmlWebpackPlugin.options.timestamp %>/bootstrap.colorpickersliders.css">
    <link rel="stylesheet" type="text/css" href="css/<%= htmlWebpackPlugin.options.timestamp %>/gohome.css">

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>
    <script type="text/javascript" src="js/<%= htmlWebpackPlugin.options.timestamp %>/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="js/<%= htmlWebpackPlugin.options.timestamp %>/bootstrap.js"></script>
    <script type="text/javascript" src="js/<%= htmlWebpackPlugin.options.timestamp %>/bootstrap-switch.js"></script>
    <script type="text/javascript" src="js/<%= htmlWebpackPlugin.options.timestamp %>/nouislider.js"></script>
    <script type="text/javascript" src="js/<%= htmlWebpackPlugin.options.timestamp %>/tinycolor.js"></script>
    <script type="text/javascript" src="js/<%= htmlWebpackPlugin.options.timestamp %>/bootstrap.colorpickersliders.js"></script>

    <div class="controlPageWrapper">
      <div class="content"></div>
    </div>

    <!-- main script tag injected by webpack in the build process-->
  </body>
</html>
